body {
    background-color: lightcoral;
}
.galleroid {
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	width: 80%;
  	margin: 0 auto 0;
}

.galleroid * {
    box-sizing: border-box;
}

.galleroid-item {
    background-color: white;
    margin-top: 10vw;
    border: 5vw solid white;
	border-radius: 4px;
    width: 60vw;
    margin: auto;
}

.galleroid-item.active {
    width: 80vw;
}

.galleroid-preview {
    display: block;
    cursor: pointer;
}

.galleroid-picture-container {
    width: 60vw;
    height: 60vw;
    background-color: grey;
    border-radius: 4px;
    margin: auto;
}

.galleroid-picture-container.active {
    width: 80vw;
    height: 80vw;
}

.galleroid-picture {
    display: none;
    object-fit: contain;
	margin: auto;
  	/*max-width: 100%;*/
  	width: 100%;
  	height: 100%;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.galleroid-picture.active {
    display: block;
    transition: all 0.25s ease-out;
    width: 80vw;
}

.galleroid-title {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	background-color: none;
	text-align: center;
	padding: 7vw;
	max-width: 70vw;
	text-align: center;
	margin: auto;
}

.galleroid-title.active {
    transform: scale(1.5);
}

.galleroid-detail {
    width: 60vw;
    height: 0px;
    display: block;
    margin: auto;
}

.galleroid-detail.active {
    width: 80vw;
    height: auto;
}

.galleroid-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.galleroid-buttons button {
    width: 10vw;
    height: 10vw;
    border-radius: 4px;
    color: white;
    background-color: lightgrey;
    border: none;
}

.galleroid-text {
	text-align: center;
	margin: 0;
}