/* Mobile */
#galleroid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 48px 0;
  margin: 0;
}

#galleroid * {
  box-sizing: border-box;
}

.galleroid-item-wrapper {
  width: 100%;
  height: 90vw;
}

.galleroid-item {
  border-width: 5vw 5vw 0;
  grid-template-rows: auto 15vw auto;
}
.galleroid-item.active {
  width: 96%;
}

.galleroid-picture-container,
.galleroid-fg-picture,
.galleroid-bg-picture {
  width: 50vw;
  height: 50vw;
}

.galleroid-title {
  max-width: 50vw;
}

.galleroid-item.active {
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: 1fr 14vw 54px;
}
.galleroid-item.active .galleroid-previous-button,
.galleroid-item.active .galleroid-next-button {
  height: 10vw;
  width: 10vw;
  margin: 2vw 0;
}

.galleroid-caption-container {
  height: 54px;
}

.galleroid-caption.active {
  max-height: 54px;
}

.galleroid-item-wrapper {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.galleroid-item {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 0 auto 0;
  grid-template-areas: "  pic     pic     pic" "  prev    title   next" "  text    text    text";
  position: static;
  animation: deactivate 0.2s;
  padding: 0;
  z-index: 0;
  opacity: 0.99;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.galleroid-item.active {
  border-width: 2vmin;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0 1vw 4vw 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  animation: activate 0.25s;
}
.galleroid-item.active .galleroid-picture-container {
  height: 100%;
  border-radius: 4px;
  width: 100%;
}
.galleroid-item.active .galleroid-picture-container .galleroid-close {
  display: block;
}
.galleroid-item.active .galleroid-bg-picture {
  transition: opacity 0.25s ease-out;
}
.galleroid-item.active .galleroid-fg-picture,
.galleroid-item.active .galleroid-caption {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}
.galleroid-item.active .galleroid-fg-picture,
.galleroid-item.active .galleroid-bg-picture {
  height: 100%;
  width: 100%;
}
.galleroid-item.active .galleroid-title {
  transform: scale(1.5);
  max-width: 43vw;
}
.galleroid-item.active .galleroid-previous-button,
.galleroid-item.active .galleroid-next-button {
  display: block;
}
.galleroid-item.active .galleroid-caption-container {
  display: block;
}

.galleroid-picture-container {
  background-color: grey;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  grid-area: pic;
  z-index: inherit;
  overflow: hidden;
  position: relative;
}

.galleroid-close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
  pointer-events: none;
  opacity: 0.5;
}
@media only screen and (min-width: 1024px) {
  .galleroid-close {
    width: 45px;
    height: 45px;
  }
}

.galleroid-caption {
  width: 100%;
  text-align: center;
  margin: auto;
  overflow: hidden;
  white-space: normal;
  position: absolute;
}

.galleroid-fg-picture,
.galleroid-bg-picture {
  width: 100%;
  height: 50vw;
  position: absolute;
}

.galleroid-fg-picture,
.galleroid-caption {
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.galleroid-fg-picture {
  object-fit: contain;
  z-index: 21;
}

.galleroid-bg-picture {
  filter: brightness(60%) blur(20px);
  object-fit: cover;
  z-index: 20;
  transition: opacity 0.2s ease-in;
}

.galleroid-bg-picture.active {
  opacity: 1;
}

.galleroid-bg-picture.hidden-left,
.galleroid-bg-picture.hidden-right {
  opacity: 0;
}

.galleroid-fg-picture.active,
.galleroid-caption.active {
  opacity: 1;
  transform: translateX(0%);
}

.galleroid-fg-picture.hidden-left,
.galleroid-caption.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
}

.galleroid-fg-picture.hidden-right,
.galleroid-caption.hidden-right {
  opacity: 0;
  transform: translateX(100%);
}

.galleroid-title {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  margin: 13px auto;
  grid-area: title;
  align-self: center;
}

.galleroid-previous-button,
.galleroid-next-button {
  display: none;
  width: 0;
  height: 10vw;
  border-radius: 4px;
  color: white;
  background-color: lightgrey;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
@media only screen and (min-width: 400px) {
  .galleroid-previous-button,
.galleroid-next-button {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1100px) {
  .galleroid-previous-button,
.galleroid-next-button {
    font-size: 2em;
  }
}

.galleroid-previous-button {
  grid-area: prev;
}

.galleroid-next-button {
  grid-area: next;
  justify-self: end;
}

.galleroid-caption-container {
  display: none;
  width: 100%;
  grid-area: text;
  position: relative;
  overflow: hidden;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  .galleroid-item-wrapper {
    width: 50%;
    height: 45vw;
  }

  .galleroid-item {
    border-width: 2.5vw 2.5vw 0;
    grid-template-rows: auto 7.5vw auto;
  }
  .galleroid-item.active {
    width: 192%;
  }

  .galleroid-picture-container,
.galleroid-fg-picture,
.galleroid-bg-picture {
    width: 25vw;
    height: 25vw;
  }

  .galleroid-title {
    max-width: 25vw;
  }

  .galleroid-item.active {
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 1fr 9vw 54px;
  }
  .galleroid-item.active .galleroid-previous-button,
.galleroid-item.active .galleroid-next-button {
    height: 5vw;
    width: 5vw;
    margin: 2vw 0;
  }

  .galleroid-caption-container {
    height: 54px;
  }

  .galleroid-caption.active {
    max-height: 54px;
  }
}
/* Desktop */
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .galleroid-item-wrapper {
    width: 33.3333333333%;
    height: 30vw;
  }

  .galleroid-item {
    border-width: 1.6666666667vw 1.6666666667vw 0;
    grid-template-rows: auto 5vw auto;
  }
  .galleroid-item.active {
    width: 288%;
  }

  .galleroid-picture-container,
.galleroid-fg-picture,
.galleroid-bg-picture {
    width: 16.6666666667vw;
    height: 16.6666666667vw;
  }

  .galleroid-title {
    max-width: 16.6666666667vw;
  }

  .galleroid-item.active {
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 1fr 7vw 54px;
  }
  .galleroid-item.active .galleroid-previous-button,
.galleroid-item.active .galleroid-next-button {
    height: 5vw;
    width: 5vw;
    margin: 1vw 0;
  }

  .galleroid-caption-container {
    height: 54px;
  }

  .galleroid-caption.active {
    max-height: 54px;
  }
}
@media only screen and (min-width: 1500px) {
  .galleroid-item-wrapper {
    width: 25%;
    height: 22.5vw;
  }

  .galleroid-item {
    border-width: 1.25vw 1.25vw 0;
    grid-template-rows: auto 3.75vw auto;
  }
  .galleroid-item.active {
    width: 384%;
  }

  .galleroid-picture-container,
.galleroid-fg-picture,
.galleroid-bg-picture {
    width: 12.5vw;
    height: 12.5vw;
  }

  .galleroid-title {
    max-width: 12.5vw;
  }

  .galleroid-item.active {
    grid-template-columns: 3vw auto 3vw;
    grid-template-rows: 1fr 5vw 54px;
  }
  .galleroid-item.active .galleroid-previous-button,
.galleroid-item.active .galleroid-next-button {
    height: 3vw;
    width: 3vw;
    margin: 1vw 0;
  }

  .galleroid-caption-container {
    height: 54px;
  }

  .galleroid-caption.active {
    max-height: 54px;
  }
}
/* Animations */
@keyframes activate {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes deactivate {
  0% {
    position: relative;
    transform: scale(1.1);
  }
  99% {
    position: relative;
    transform: scale(1);
  }
  100% {
    position: static;
    transform: scale(1);
  }
}

/*# sourceMappingURL=galleroid.css.map */
