body {
    background-color: lightcoral;
}

.galleroid {
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	width: 80%;
  	margin: 0 auto 0;
}

.galleroid * {
    box-sizing: border-box;
}

.galleroid-item,
.galleroid-picture-container,
.galleroid-title {
    transition: all 0.2s ease-in;
}

.galleroid-item.active,
.galleroid-picture-container.active,
.galleroid-title.active {
    transition: all 0.25s ease-out;
}

.galleroid-item {
    background-color: white;
    margin-top: 10vw;
    border-width: 5vw 5vw 0;
    border-style: solid;
    border-color: white;
	border-radius: 2px;
    width: 60vw;
    margin: 13vw;
}

.galleroid-item.active {
    width: 89vw;
    border-width: 2vw 2vw 0;
    border-radius: 4px;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.galleroid-preview {
    display: block;
    cursor: pointer;
}

.galleroid-picture-container {
    width: 60vw;
    height: 60vw;
    background-color: grey;
    border-radius: 2px;
    margin: auto;
}

.galleroid-picture-container.active {
    width: 89vw;
    height: 89vw;
    border-radius: 4px;
}

.galleroid-picture {
    display: none;
    object-fit: contain;
	margin: auto;
  	/*max-width: 100%;*/
  	width: 100%;
  	height: 100%;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.galleroid-picture.active {
    display: block;
    transition: all 0.25s ease-out;
    width: 80vw;
}

.galleroid-title {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	background-color: none;
	text-align: center;
	padding: 7vw;
	max-width: 70vw;
	text-align: center;
    margin: auto;
    z-index: 1;
}

.galleroid-title.active {
    transform: scale(1.5);
    padding: 5vw 5vw 2vw;
}

.galleroid-detail {
    overflow: hidden;
    display: none;
    margin: auto;
    padding: 0 0 10vw;
    position: relative;
    height: 150px;
}

.galleroid-detail.active {
    display: block;
    
}

.galleroid-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.galleroid-buttons button {
    width: 10vw;
    height: 10vw;
    border-radius: 4px;
    color: white;
    background-color: lightgrey;
    border: none;
    z-index: 2;
}

.galleroid-text-container {
    width: 100%;
    height: 126px;
}

.galleroid-text {
    text-align: center;
    margin: 0;
    overflow: hidden;
    white-space: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 126px;
}