/* Mobile */

#galleroid {
	display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 48px 0;
    margin: 0;
}

#galleroid * {
    box-sizing: border-box;
}

@mixin MainFlexLayout ($num-columns) {
    $border-width: 5vw / $num-columns;
    $center-row-height: 15vw / $num-columns;
    $item-wrapper-width: 100% / $num-columns;
    $item-wrapper-height: 90vw / $num-columns;
    $pic-width-height: 50vw / $num-columns;

    .galleroid-item-wrapper {
        width: $item-wrapper-width;
        height: $item-wrapper-height;
    }

    .galleroid-item {
        border-width: $border-width $border-width 0;
        grid-template-rows: auto
                            $center-row-height 
                            auto; 
        
        &.active {
            width: 96% * $num-columns;
        }
    }

    .galleroid-picture-container,
    .galleroid-fg-picture,
    .galleroid-bg-picture {
        width: $pic-width-height;
        height: $pic-width-height;
    }

    .galleroid-title {
        max-width: 50vw / $num-columns;
    }
}

@mixin ActiveLayout($button-size, $border-size, $caption-height) {
    $grid-section-button-size: (2 * $border-size) + $button-size;

    .galleroid-item.active {
        grid-template-columns:  $button-size    auto    $button-size;
        grid-template-rows:     1fr
                                $grid-section-button-size
                                $caption-height;

        .galleroid-previous-button,
        .galleroid-next-button {
            height: $button-size;
            width: $button-size;
            margin: $border-size 0;
        }
    }

    .galleroid-caption-container {
        height: $caption-height;
    }
    
    .galleroid-caption.active {
        max-height: $caption-height;
    }
}

@include MainFlexLayout(1);
@include ActiveLayout(10vw, 2vw, 54px);

.galleroid-item-wrapper {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.galleroid-item {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns:  0       auto    0; 
    grid-template-areas: '  pic     pic     pic' 
                         '  prev    title   next' 
                         '  text    text    text';
    position: static;
    animation: deactivate 0.2s;
    padding: 0;
    z-index: 0;
    opacity: 0.99;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

    &.active {
        height: calc(100vh - 4vw);
        border-width: 2vmin;
        border-radius: 4px;
        z-index: 10;
        box-shadow: 0 1vw 4vw 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        animation: activate 0.25s;

        .galleroid-picture-container {
            height: 100%;
            border-radius: 4px;
            width: 100%;
        }

        .galleroid-bg-picture, {
            transition: opacity 0.25s ease-out;
        }

        .galleroid-fg-picture,
        .galleroid-caption {
            transition-property: transform, opacity;
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
        }

        .galleroid-fg-picture,
        .galleroid-bg-picture {
            height: 100%;
            width: 100%;
        }

        .galleroid-title {
            transform: scale(1.5);
            max-width: 43vw;
        }

        .galleroid-previous-button,
        .galleroid-next-button {
            display: block;
        }

        .galleroid-caption-container {
            display: block;
        }
    }
}

.galleroid-picture-container {
    background-color: grey;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    grid-area: pic;
    z-index: inherit;
    overflow: hidden;
    position: relative;
}

.galleroid-caption {
    width: 100%;
    text-align: center;
    margin: auto;
    overflow: hidden;
    white-space: normal;
    position: absolute;
}

.galleroid-fg-picture,
.galleroid-bg-picture {
    width: 100%;
    height: 50vw;
    position: absolute;
}

.galleroid-fg-picture,
.galleroid-caption {
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.galleroid-fg-picture {
    object-fit: contain;
    z-index: 21;
}

.galleroid-bg-picture {
    filter: brightness(60%) blur(20px);
    object-fit: cover;
    z-index: 20;
    transition: opacity 0.2s ease-in;
}

.galleroid-bg-picture.active {
    opacity: 1;
}

.galleroid-bg-picture.hidden-left,
.galleroid-bg-picture.hidden-right {
    opacity: 0;
}

.galleroid-fg-picture.active,
.galleroid-caption.active {
    opacity: 1;
    transform: translateX(0%);
}

.galleroid-fg-picture.hidden-left,
.galleroid-caption.hidden-left {
    opacity: 0;
    transform: translateX(-100%);
}

.galleroid-fg-picture.hidden-right,
.galleroid-caption.hidden-right {
    opacity: 0;
    transform: translateX(100%);
}

.galleroid-title {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    margin: 13px auto;
    grid-area: title;
    align-self: center;
}

.galleroid-previous-button,
.galleroid-next-button {
    display: none;
    width: 0;
    height: 10vw;
    border-radius: 4px;
    color: white;
    background-color: lightgrey;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    @media only screen and (min-width: 400px) {
        font-size: 1.5em;
    }

    @media only screen and (min-width: 1100px) {
        font-size: 2em;
    }
}

.galleroid-previous-button {
    grid-area: prev;
}

.galleroid-next-button {
    grid-area: next;
    justify-self: end;
}

.galleroid-caption-container {
    display: none;
    width: 100%;
    grid-area: text;
    position: relative;
    overflow: hidden;
}

/* Tablet */
@media only screen and (min-width: 600px) {
    @include MainFlexLayout(2);
    @include ActiveLayout(5vw, 2vw, 54px);
}

/* Desktop */

@media only screen and (min-width: 1000px) {
    @include MainFlexLayout(3);
    @include ActiveLayout(5vw, 1vw, 54px);
}

@media only screen and (min-width: 1500px) {
    @include MainFlexLayout(4);
    @include ActiveLayout(3vw, 1vw, 54px);
}

/* Animations */

@keyframes activate {
    0% {
        transform: scale(0.9);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes deactivate {
    0% {
        position: relative;
        transform: scale(1.1);
    }
    
    99% {
        position: relative;
        transform: scale(1);
    }
    
    100% {
        position: static;
        transform: scale(1);
    }
}